---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
$base-font-family: Ubuntu;
$code-font-family: Inconsolata, Monaco, Consolas, monospace;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  0.875rem;
$big-font-size:    1.3rem;
$base-line-height: 1.5;

$spacing-unit:     2rem;
$max-width:        48rem;

$text-color:       #586e75;
$background-color: #fdf6e3;
$link-color:       #268bd2;

$grey-color:       #aaa;
$grey-color-light: lighten($grey-color, 25%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$on-palm:          600px;
$on-:              800px;

hr {
    border: none;           // Remove the default border
    height: 1px;            // Set the height
    background-color: $text-color; // Change the color (use your desired color)
}

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
