---
layout: default
---
<div class="home">
	<section class="site-header">
		<h1 class="smallcap"><a class="site-title" href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title }}</a></h1>
		{% include nav.html %}
		{% include intro.html %}
	</section>
	<section>
		<ul class="post-list">
			{% assign posts = site.posts %}
			{% assign quotes = site.quotes %}
			{% assign all_content = posts | concat: quotes | sort: 'date' | reverse %}
			{% for item in all_content %}
				{% if item.pinned == null %}
				<li>
					{% if item.collection == 'quotes' %}
					<a href="{{ item.ref }}" class="ref-link">(from)</a>
					{% endif %}
					<a href="{{ item.url | prepend: site.baseurl | prepend: site.url }}"> {{ item.title }}</a> <time datetime="{{ post.date | date_to_xmlschema }}">{{ item.date | date: "%b %d, %Y" }}</time>
				</li>
				{% endif %}
			{% endfor %}
		</ul>
	</section>
</div>
