{{ define "main" }}
<section class="site-header">
    <h1 class="smallcap"><a class="site-title" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
</section>

{{ partial "nav.html" . }}

<section class="site-intro">
    <p>A log of what I've been learning, doing, and thinking about.</p>
</section>

<section class="home">
    <ul class="post-list">
        {{ $allPages := union (where .Site.RegularPages "Section" "posts") (where .Site.RegularPages "Section" "quotes") }}
        {{ range $allPages.ByDate.Reverse }}
        <li>
            <div class="post-title-container">
                {{ if eq .Section "quotes" }}<span class="quote-indicator">❝</span>{{ end }}
                <a href="{{ .Permalink }}" class="post-title-link">{{ .Title }}</a>
            </div>
            <time datetime="{{ .Date.Format "2006-01-02" }}" class="post-date">{{ .Date.Format "Jan 02, 2006" }}</time>
        </li>
        {{ end }}
    </ul>
</section>

<div class="copyright">
    <p>&copy; {{ now.Year }} {{ .Site.Params.author }}. <a href="/credits">Credits</a>.</p>
</div>
{{ end }}